<p>pipe-ex works!</p>
<p> Fahrenheit : <input type="text" [(ngModel)]="Fahrenheit" /> 
    Celsius : {{Fahrenheit | tempcon:'C'}} </p><br><br>
    <p> celsius : <input type="text" [(ngModel)]="celcius" /> 
      Fahrenheit : {{celcius | tempcon:'F'}} </p>
  
  
      <h3>Date Expression </h3>
  <p>Date Object : {{toDate | date}} </p>       
  <p>Number Date : {{numDate | date}} </p>     
  <p>ISO Date : {{strDate | date}} </p> 
  <p>short Date : {{toDate | date : "dd-MM-yyyy"}}</p>        
  <p>Object with son: {{obj|json}}</p>
  <p> without json : {{obj}}</p>
  <p> name : {{name| uppercase}}</p>